@font-face {
  font-family: 'sabo1';
  src: url('Resources/Sabo-Filled.otf') format('truetype');
}

@font-face {
  font-family: 'sabo2';
  src: url('Resources/Sabo-Regular.otf') format('truetype');
}


body {
  background-image: url('Resources/background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 0 10px #40E0D0;
  min-width: 200px;
  padding: 10px;
}

h1 {
  font-family: 'sabo2', sans-serif;
  color: #40E0D0;
  font-size: 60px;
}

#status {
  /* position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px; */
}

#billboard {
  /* position: absolute; */
  top: 50%; 
  left: 50%; 
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  height: 200px;

}

#billboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border-spacing: 0;
  border: 3px solid lightgray;
  box-shadow: 0 0 30px #40E0D0;
  background-color: rgba(0, 0, 0, 0.5);
}

table, table td {
  text-align: center;
}

table td {
  width: 75px;
  height: 75px;
  margin: 3px;
  color: white;
  font-size: 25pt;
  font-weight: bolder;
  border: 3px solid lightgray;
  cursor: pointer;
  font-family: 'sabo2', sans-serif;
}

.buttons .prev,
.buttons .next, 
.buttons .reset{
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: 'sabo1', sans-serif;
  padding: 10px 30px;
  transition: .5s;
  border-radius: 5px;
}

button:hover {
  background: var(--clr);
  letter-spacing: .25em;
  box-shadow: 0 0 35px var(--clr);
}

/* button:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: white
} */

/* button i {
  position: absolute;
  inset: 0;
  display: block;
}

button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 80px;
  height: 4px;

} */